body {
    margin: 0;
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 1rem;
    background-color: #1F2937;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    
}

.top{
    align-items: center;
}

ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.logo-placeholder-text {
    color: white;
    font-size: 30px;
}

.img-placeholder{
    height: 300px;
    max-width: 600px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: grey;
}

.left-content{
    color: white;
    width: 400px;
    font-size: larger;
}

.left-content h1{
    font-size: 40px;
    flex-shrink: 1;
    font-weight: 900;
}

.bottom {
    gap: 6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight:bold;
}

.infomation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

.box-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 4rem ;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
}

.box{
    border: 2px solid #3882F6; 
    border-radius: 25px;
    height: 200px;
    width: 200px;
}

.info-title{
font-size: 30px;
}

q{
    font-size: 36px;
    quotes: initial;
    font-family: light italic;
    color: #1F2937;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoter {
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.quote-box{
    max-width: 800px;
    margin: 6rem;
}

.cta-section{
    padding: 4rem;
    color: white;
}

.cta-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 2rem;
    margin: auto;
    max-width: 800px;
}

.cta-button{
    padding: 5px 30px 5px;
    border: solid white;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #1F2937;
    color: white;
  }